.ipynb_checkpoints/
Transformers-for-Natural-Language-Processing/
Untitled.ipynb
ViT5/
csvReader.ipynb
finetune_cpu-original.ipynb
finetune_gpu-original.ipynb
finetune_gpu.ipynb
finetune_huggingface_example.ipynb
myDataset/
myModel-20231016T130554Z-001.zip
myModel/
myModelMini-20231017T063427Z-001.zip
myModelMini/
myTokenizer-20231017T064938Z-001.zip
myTokenizer/
output.csv
paragraphToSentences.ipynb
predict.py
test.py
tsvReader.ipynb
useModel.ipynb
vietnews/
wikilingua/
